*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: bisque;
}
.navbar
{
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 0%; */
}
.right
{
    width: 30vw;
    min-height: 8vh;
    /* background-color: bisque; */
    /* background-color:white; */
    display: flex;
    /* margin-left: 40%; */
    justify-content:flex-end;
    align-items: center;
}
.login a{
    text-decoration: none;
    color: black;
}
.right img{
    vertical-align:bottom;
    color: black;
}
.cart a
{
    text-decoration: none;
    color: black;
    padding: 0px 35px;
}
.seller a
{
    text-decoration: none;
    color: black;
}
.left
{
    display: flex;
    /* background-color: white; */
    width: 60vw;
    min-height: 8vh;
}
.logo 
{
    color: black;
    padding-left: 15%;
    align-content: center;
}
.search
{
    color: black;
    padding-left: 20%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto;
    padding-top: 20px; */
}
input
{
    width: 37vw;
    height: 5vh;
    border:2px solid black;
    border-radius: 8px;
    outline-style: none;
}

.container
{
    width: 100%;
    min-height: 80vh;
    background-color: antiquewhite;
    padding-top: 20px;
}
.ot
{
    max-width:60vw;
    height: 400px;
    background-color: blueviolet;
    margin: auto;
    display: flex;
    justify-content: left;
    /* justify-items: left; */
    align-items:center;
    flex-direction: column;
}
.slider
{
    width: 100%;
    height: 25vh;
    /* margin: auto; */
    background-color: aquamarine;
    display:flex;
    justify-content:start;
    align-items:center;
    justify-content:space-around;
}

.card
{
    /* margin-left: 70px; */
    width: 10vw;
    height: 20vh;
    background-color: rgb(213, 155, 68);
    /* position:relative; */
   display: flex;
   justify-content: center;
   align-items: center;

}
.oppo
{
    position: relative;
    margin-top: 20px;
    display: flex;
    width:5vw;
    height: 10vh;
    background-color: brown;
    justify-content:center;
    align-items: center;
    /* top: 150px; */
    /* left: -300px; */
 
}